<header class="banner">
    <div class=" container-fluid bannal">
        <div class="bannal-content  position-relative">
            <img class="position-absolute decore-img h-100" src="assets\images\Bannar\Decore.svg" alt="">
            <div class="row position-relative">

                <div class="slide row" *ngFor="let slide of slides; let i = index"
                    [class.active]="i === activeSlideIndex">

                    <div class=" col-11 col-xl-6 h-auto h-xl-100 banner-text-col d-flex flex-column justify-content-start ">
                        <h2 class="category" [style.color]="'#'+slide.colorCode"> {{slide.category}}</h2>
                        <h1 class="title">{{slide.title}}</h1>
                        <p class="brief">
                            {{slide.brief}}
                        </p>
                        <div class="button-container  flex-row">
                            <a class="btn find-out-btn" [style.background]="'#'+slide.colorCode">Find out more</a>
                            <a href="#" class="btn play-button">
                                <span class="play-icon">&#9658;</span> Play Demo
                            </a>
                        </div>

                        <div class="timeline">
                            <ng-container *ngFor="let slide of slides; let i = index">
                                <a [class.active-circle]="i === activeSlideIndex"
                                    [style.background]="'#'+slide.colorCode" (click)="switchSilde(i)"
                                    class="circle"></a>
                                <div *ngIf="i !== (slides.length -1)" class="line"></div>
                            </ng-container>
                        </div>
                    </div>

                    <div class=" col-12 col-xl-6 h-100 d-none d-xl-block">
                        <img class="hero-img h-100" [src]="slide.imgUrl" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>