<nav class="navbar navbar-expand-lg navbar-light  p-0">
    <div class="inner-nav container-fluid p-0 postion-relative">

        <a class="navbar-brand p-0">
            <img class="link-development-logo" src="assets/images/navbar/link-deleopment-logo.png" alt="company logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
            <ul class="navbar-nav me-5 mt-3 mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
            </ul>
            <div class="auth-row d-flex">
                <button type="button" class="btn">Login</button>
                <button type="button" class="btn btn-outline-secondary">Sign up</button>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        EN
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">AR</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>