<div class="product-card" *ngIf="product">
    <div class="product-img">
        <img [src]="product.thumbnail" alt="">
    </div>
    <div class="product-info">
        <p class="product-title" (click)="goToProductDetails()">
            {{product.title}}
        </p>

        <h4>
            $<span>{{product.price}}.00</span>
        </h4>

        <p class="description">
            {{product.description}}
            <!-- {{product.description| summaryTextPipe:55}} -->
        </p>

        <div class="wish-list-wrapper">
            <div class="rate">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>

                <span class="rate-number">
                    {{product.rating}}
                </span>
            </div>
            <button >
                <i class="far fa-heart"></i>

                Watch
            </button>
        </div>
    </div>
</div>