<footer class="footer  bg-light py-3">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Left Section (Logo and Text) -->
      <div class="col-12 col-lg-4  text-center px-5">
        <img src="assets/images/navbar/link-deleopment-logo.png" alt="Link Development" class="mb-3">
        <p class="text-muted">
          We make technology produce productive, adaptable and sustainable business experiences.
        </p>
      </div>

      <!-- Middle Section (Links) -->
      <div class="col-4 col-lg-2">
        <h6 class="fw-bold">Company</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">About</a></li>
          <li><a href="#" class="text-muted">Careers</a></li>
          <li><a href="#" class="text-muted">Mobile</a></li>
        </ul>
      </div>
      <div class="col-4    col-lg-2">
        <h6 class="fw-bold">Contact</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">Help/FAQ</a></li>
          <li><a href="#" class="text-muted">Press</a></li>
          <li><a href="#" class="text-muted">Affiliates</a></li>
        </ul>
      </div>
      <div class="col-4    col-lg-2">
        <h6 class="fw-bold">Media</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">News</a></li>
          <li><a href="#" class="text-muted">Photo</a></li>
          <li><a href="#" class="text-muted">Video</a></li>
        </ul>
      </div>

      <!-- Right Section (Social and App Links) -->
      <div class="col-12 col-lg-2 text-center">
        <div class="justify-content-center mb-3 d-flex flex-row">
          <a href="#" class="social-media-icon mx-2 me-3">
            <img src="assets/images/footer-social-media/Instagram.svg" alt="">
          </a>
          <a href="#" class="social-media-icon mx-2 me-3">
            <img src="assets/images/footer-social-media/twitter.svg" alt="">
          </a>
          <a href="#" class="social-media-icon mx-2 me-3">
            <img src="assets/images/footer-social-media/facebook.svg" alt="">
          </a>
        </div>
        <h6 class="app-title my-4">Discover our app</h6>
        <div class="d-flex justify-content-center">
          <a class="app-btn btn-google" href="#" title="Google Play">Google Play</a>
          <a class="app-btn btn-apple" href="#" title="Google Play">Apple</a>
        </div>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="text-center copy-right">
      <p >All rights reserved &copy; Linkdevelopment.com</p>
    </div>
  </div>
</footer>
