<!-- ************************************** -->
<!-- SERVICE-SECTION -->
<!-- ************************************** -->


<section class="container-fluid py-5 service-section">
    <div class="row position-relative mt-5 d-none d-xl-block">
        <div class="col-lg-7 offset-lg-1 col-md-12 ">
            <div class=" services-wrapper container text-center mt-5 position-relative">
                <!-- Left Image Section -->
                <div class="row main-row">
                    <div class="col align-self-center position-relative col-img col-serve">
                        <div class="row flex-column">
                            <div class="p-0">
                                <img src="assets/images/services/Layer 46-2.png" class="img-fluid w-100 p-0"
                                    alt="Services">
                                <h3 class="h-serves w-75">Transformation</h3>
                                <div class="overlay">
                                    <a href="#">
                                        <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                                        read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col align-self-end">

                        <div class="row flex-column">
                            <div class="col col-img position-relative col-serve p-0">
                                <img src="assets/images/services/Layer 46-1.png" class="img-fluid w-100 p-0"
                                    alt="Services">
                                <h3 class="h-serves w-75">Envision</h3>
                                <div class="overlay">
                                    <a href="#">
                                        <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                                        read more</a>
                                </div>
                            </div>
                            <div class="col col-img position-relative col-serve p-0">
                                <img src="assets/images/services/Layer 46.png" class="img-fluid w-100 p-0"
                                    alt="Services">
                                <h3 class="h-serves w-75">Dynamics 365</h3>
                                <div class="overlay">
                                    <a href="#">
                                        <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                                        read more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col align-self-start">

                        <div class="row flex-column ">

                            <div class="row flex-column">
                                <div class="col col-img position-relative col-serve p-0">
                                    <img src="assets/images/services/Layer 46-0.png" class="img-fluid w-100 p-0"
                                        alt="Services">
                                    <h3 class="h-serves w-75">Crafty Mind</h3>
                                    <div class="overlay">
                                        <a href="#">
                                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                                            read more</a>
                                    </div>
                                </div>
                                <div class="col col-img position-relative col-serve p-0">
                                    <img src="assets/images/services/Layer 46-2.png" class="img-fluid w-100 p-0"
                                        alt="Services">
                                    <h3 class="h-serves w-75">Services</h3>
                                    <div class="overlay">
                                        <a href="#">
                                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                                            read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Text Section -->
        <div class="col-12   d-flex service-slogn">
            <div>
                <h5 class="display-5">We Deliver <br> Digital Productivity</h5>
                <p>We craft technology solutions that digitally bond and transform the productivity of our customers
                    and their citizens, workers, consumers, and partners.</p>
            </div>
        </div>
    </div>

    <!-- >>>>>for small sizes screen >>>>>>>>>-->
    <!-- >>>>>for small sizes screen >>>>>>>>>-->
    <div class="row d-block d-xl-none">
        <!-- Left Image Section -->
        <div class="col-12 col-xl-7 p-lg-5 ">
            <div class="row g-3">
                <div class="col-6 col-sm-6  position-relative col-serve ">
                    <img src="assets/images/services/Layer 46-2.png" class="img-fluid w-100 p-0" alt="Services">
                    <h3 class="h-serves w-75">Transformation</h3>
                    <div class="overlay">
                        <a href="#">
                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                            read more</a>
                    </div>
                </div>
                <div class="col-6 col-sm-6   position-relative col-serve">
                    <img src="assets/images/services/Layer 46.png" class="img-fluid w-100 p-0" alt="Services">
                    <h3 class="h-serves w-75">Envision</h3>
                    <div class="overlay">
                        <a href="#">
                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                            read more</a>
                    </div>
                </div>
                <div class="col-6 col-sm-6   position-relative col-serve">
                    <img src="assets/images/services/Layer 46-1.png" class="img-fluid w-100 p-0" alt="Services">
                    <h3 class="h-serves w-75">Crafty Mind</h3>
                    <div class="overlay">
                        <a href="#">
                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                            read more</a>
                    </div>
                </div>
                <div class="col-6 col-sm-6   position-relative col-serve">
                    <img src="assets/images/services/Layer 46-0.png" class="img-fluid w-100 p-0" alt="Services">
                    <h3 class="h-serves w-75">Crafty Mind</h3>
                    <div class="overlay">
                        <a href="#">
                            <fa-icon [icon]="faArrowAltCircleRight" class="me-2 "></fa-icon>
                            read more</a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 position-relative">
                    <img src="assets/images/services/Layer 46-2.png" class="img-fluid w-100" alt="Services">
                    <div class="overlay">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid news-section">
    <div class="row categories-row">
        <p class="news-title text-center">Media</p>
        <h3 class="h-news text-center">Top News</h3>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <button (click)="filterByCategory(0)" [class.active]="selectedCategory === 0" class="btn btn-filter">All
                    News</button>
            </li>
            <li class="nav-item" *ngFor="let category of newsCategories">
                <button [class.active]="selectedCategory === category.id" (click)="filterByCategory(category.id)"
                    class="btn btn-filter">{{category.name}}</button>
            </li>
        </ul>
    </div>

    <div class="row news-row">
        <app-news-item class=" col-12  col-md-6 col-lg-4 news-col" [artical]="artical"
            *ngFor=" let artical of filteredNews">
        </app-news-item>
    </div>

    <a href="#" class="btn orange-button mx-auto d-block">View All News</a>
</section>


<!-- ************************************** -->
<!-- TOP NEWS-Section -->
<!-- ************************************** -->